#screen {
    height: 750px;
    width: 425px;
    border: 1px black solid;
    background-color: aqua;
    position: fixed;
    top: 9%;
    left: 35%;
    border-radius: 25px;
}
#header{
    position: absolute;
    width: 425px;
    height: 87px;
    left: 0px;
    top: -9px;
    background: #63ADF2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
#header h1{
    position: absolute;
    width: 241px;
    height: 48px;
    left: 92px;
    top: 37px;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
#step1 h1{
    position: absolute;
    top: 81px;
    width: 133px;
    height: 35px;
    left: 6px;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
#step1 #img1{
    position: absolute;
    width: 146px;
    height: 146px;
    left: 17px;
    top: 121px;
    background: #FFFBFB;
    border: 1px solid #000000;
    box-sizing: border-box;
}
#step1 #arrow1{
    position: absolute;
    width: 100px;
    height: 40px;
    left: 170px;
    top: 265px;
}

#step2 h1{
    position: absolute;
    top: 270px;
    width: 133px;
    height: 35px;
    left: 284px;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
#step2 #img2{
    position: absolute;
    width: 146px;
    height: 146px;
    left: 262px;
    top: 310px;
    background: #FFFBFB;
    border: 1px solid #000000;
    box-sizing: border-box;
}

#step2 #arrow2{
    position: absolute;
    width: 100px;
    height: 40px;
    left: 170px;
    top: 460px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#step3 h1{
    position: absolute;
    width: 133px;
    height: 35px;
    left: 17px;
    top: 459px;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
#step3 img{
    position: absolute;
    width: 146px;
    height: 146px;
    left: 17px;
    top: 499px;
    background: #FFFBFB;
    border: 1px solid #000000;
    box-sizing: border-box;
}
#tutorial button{
    position: absolute;
    width: 205px;
    height: 49px;
    left: 110px;
    top: 685px;
    background: #63ADF2;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: azure;
}
#tutorial span{
    content: "\2192";
    width: 55px;
    height: 65px;
  }