body, html {
    margin: 0px;
}

#screen {
    height: 750px;
    width: 425px;
    border: 1px black solid;
    background-color: white;
    position: fixed;
    top: 9%;
    left: 35%;
}

#mainui {
    justify-content: center;
    align-content: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

/* Landing Page start */

#landingpage {



}









/* Landing Page end */



/* Tutorial Page start */

#tutorial {
    background-color: aqua;

}
#header{
    position: absolute;
    width: 425px;
    height: 87px;
    left: 0px;
    top: -9px;
    background: #63ADF2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
#header h1{
    position: absolute;
    width: 241px;
    height: 48px;
    left: 92px;
    top: 37px;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
#step1{
    position: absolute;
    top: 81px;
}
#step1 h1{
    width: 133px;
    height: 35px;
    left: 6px;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
#step1 #img1{
    width: 146px;
    height: 146px;
    left: 17px;
    top: 110px;
    background: #FFFBFB;
    border: 1px solid #000000;
    box-sizing: border-box;
}
#step1 #arrow1{
    width: 93px;
    height: 69px;
    left: 116px;
    top: 258px;
}
#step2{
    position: absolute;
    top: 292px;
}
#step2 h1{
    width: 133px;
    height: 35px;
    left: 235px;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}







/* Tutorial Page end */

/* Questions Start */

/* Question1 Start */

#Question1 {

}



/* Question1 end */

/* Inductive and Deductive page */

.inductiveoutcome {


}

.deductiveincome {

}

/* Inductive and deductive end */

/* Question 2 Start */

#question2 {


}

/* Question 2 end  */

/* Question 3 start */

#question3 {


}
/* question 3 end */

/* Final page start */

#finalpage {

}






/* Final page end */