body, html {
    margin: 0px;
}

#screen {
    height: 812px;
    width: 375px;
    border: 1px black solid;
    background-color: white;
    position: fixed;
    top: 9%;
    left: 35%;
}

#mainui {
    justify-content: center;
    align-content: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

/* Landing Page start */

#landingpage {



}









/* Landing Page end */



/* Tutorial Page start */

#tutorial {

}





/* Tutorial Page end */

/* Questions Start */

/* Question1 Start */

#Question1 {

}



/* Question1 end */

/* Inductive and Deductive page */

.inductiveoutcome {


}

.deductiveincome {

}

/* Inductive and deductive end */

/* Question 2 Start */

#question2 {


}

/* Question 2 end  */

/* Question 3 start */

#question3 {


}
/* question 3 end */

/* Final page start */

#finalpage {

}






/* Final page end */